//Button
@use '../util';

button, .button{
    padding: util.rem(14) util.rem(35);
    border-radius: util.rem(50);
    border: none;
    font-family: util.$font;
    font-size: var(--font-sm);
    font-weight: 400;
    color: var(--neutral-white);
    cursor: pointer;
    background: var(--linear-background);
}